




{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

        <!-- Newsletter Start -->
        <!-- <div class="container-xxl bg-primary my-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container px-lg-5">
                <div class="row align-items-center" style="height: 250px;">
                    <div class="col-12 col-md-6">
                        <h3 class="text-white">Ready to get started</h3>
                        <small class="text-white">Diam elitr est dolore at sanctus nonumy.</small>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Enter Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 text-center mb-n5 d-none d-md-block">
                        <img class="img-fluid mt-5" style="max-height: 250px;" src="img/newsletter.png">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter End -->


        <!-- Service Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3" ><h6 style="color:aliceblue;">خدماتنا</h6></div>
                    <h2 class="mb-5" style="color:aliceblue;">نحن نقدم الحلول  فانطلق معنا</h2>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded h-100">
                            <div class="d-flex justify-content-between">
                                <div class="service-icon">
                                    <i class="fa fa-user-tie fa-2x"></i>
                                </div>

                                <a class="service-btn" href="">
                                    <i class="fa fa-link fa-2x"></i>
                                </a>
                            </div>
                            <div class="p-5">
                                <h5 class="mb-3" style="color:aliceblue;">معلومات</h5>
                                <span style="color:aliceblue;"> يمكنك الان من خلال هذا الموقع  معرفة شركائنا و الوصول الى قنواتهم التعليمية</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded h-100">
                            <div class="d-flex justify-content-between">
                                <div class="service-icon">
                                    <i class="fa fa-chart-pie fa-2x"></i>
                                </div>

                                <a class="service-btn" href="">
                                    <i class="fa fa-link fa-2x"></i>
                                </a>
                            </div>
                            <div class="p-5">
                                <h5 class="mb-3" style="color:aliceblue;">خطط شامله</h5>
                                <span style="color:aliceblue;">يقدم شركاء انزو لكم خطط تداولية تساعدك في خوض تجربة تداولية ممتعه</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item rounded h-100">
                            <div class="d-flex justify-content-between">
                                <div class="service-icon">
                                    <i class="fa fa-chart-line fa-2x"></i>
                                </div>

                                <a class="service-btn" href="">
                                    <i class="fa fa-link fa-2x"></i>
                                </a>
                            </div>
                            <div class="p-5" >
                                <h5 class="mb-3" style="color:aliceblue;">الرد على الاستفسارات </h5>
                                <span style="color:aliceblue;">كما هي سياستنا في انزو يقدم لكم وكلائنا ردودا سريعه وتفاعليه مع المتداولين</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded h-100">
                            <div class="d-flex justify-content-between">
                                <div class="service-icon">
                                    <i class="fa fa-chart-area fa-2x"></i>
                                </div>

                                <a class="service-btn" href="">
                                    <i class="fa fa-link fa-2x"></i>
                                </a>
                            </div>
                            <div class="p-5">
                                <h5 class="mb-3" style="color:aliceblue;">العروض  و الخدمات</h5>
                                <span style="color:aliceblue;">يمكنك المشاركة  بالمسابقات التي يوفرها  شركائنا و التي تصدر بشكل دوري</span>
                            </div>
                        </div>
                    </div>
                    <!--<iframe src="https://ssltsw.investing.com?lang=1&forex=1,2,3,5,7,9,10&commodities=8830,8836,8831,8849,8833,8862,8832&indices=175,166,172,27,179,170,174&stocks=345,346,347,348,349,350,352&tabs=1,2,3,4" width="800" height="467"></iframe><div class="poweredBy" style="font-family:arial,helvetica,sans-serif; direction:ltr;"><span style="font-size: 11px;color: #333333;text-decoration: none;"><a rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link"></a></span></div>-->
                 <!--<iframe src="https://www.widgets.investing.com/top-cryptocurrencies?" width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">Powered by <a href="https://www.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=TOP_CRYPTOCURRENCIES&amp;utm_content=Footer%20Link" target="_blank" rel="nofollow">Investing.com</a></div>-->
                   <!--<iframe src="https://ssltsw.investing.com/crypto-currency-rates?=945629,997650,1001803,1010773,1010776" width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;"> <a></a></div>-->
                    <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded h-100">
                            <div class="d-flex justify-content-between">
                                <div class="service-icon">
                                    <i class="fa fa-balance-scale fa-2x"></i>
                                </div>

                                <a class="service-btn" href="">
                                    <i class="fa fa-link fa-2x"></i>
                                </a>
                            </div>
                            <div class="p-5">
                                <h5 class="mb-3">سياسة عادله </h5>
                                <span>سياسة عادله اتجاه كل الوكلاء كونهم شركاء النجاح</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item rounded h-100">
                            <div class="d-flex justify-content-between">
                                <div class="service-icon">
                                    <i class="fa fa-house-damage fa-2x"></i>
                                </div>

                                <a class="service-btn" href="">
                                    <i class="fa fa-link fa-2x"></i>
                                </a>
                            </div>
                            <div class="p-5">
                                <h5 class="mb-3">تقسيم خاص</h5>
                                <span> تقسيم خاص بالوكلاء حسب نوع الوكالة التي معنا </span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Team Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <!--<div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h6 style="color:aliceblue;">يتميز وكلائنا الحصريين بنجمة في اعلاه الصوره الخاصة بهم</h6></div>-->
                    <h2 class="mb-5"style="color:aliceblue;">تعرف على شركائنا</h2>
                </div>
                <style>
                    .checked{
                        color:#FE8800;
                    }
                    .bttn{
                        text-align: center;
                    }
                    .btn.btn-outline-test:hover{
                        color: #920a0a;
                    }
                </style>
                <div class="row g-4">
                {% for i in Ibcard %}

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <h5>{{i.name}}</h5>
                            <p class="mb-4">{{i.IB_number}}</p>
                             <!--<i class="fa fa-user text-secondary"> {{i.client_NO}}</i>-->

                                <i class="fa fa-{{i.typye}} checked"></i>

                                <img class="img-fluid rounded-circle w-100 mb-4" src="{{i.photo.url}}" alt="">

                            <!--<span class="fa fa-star {{i.star1}}"></span>-->
                            <!--<span class="fa fa-star {{i.star2}}"></span>-->
                            <!--<span class="fa fa-star {{i.star3}}"></span>-->
                            <!--<span class="fa fa-star {{i.star4}}"></span>-->
                            <!--<span class="fa fa-star {{i.star5}}"></span>-->
                            <!--<span class="fa fa-star {{i.star6}}"></span>-->

                            <div class="d-flex justify-content-center">

                                <a class="btn btn-square text-primary bg-white m-1" href="{{i.facebook_link}}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href="{{i.instagram_link}}"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href="{{i.telegram_link}}"><i class="fab fa-telegram"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href="{{i.IB_link}}"><i class="fa fa-link"></i></a>


                            </div>

                        </div>
                    </div>
                    {%endfor%}
                <div class=" text-center">
                    <div class="py-5">

                        <!--<a class="btn btn-primary mt-2 py-3 px-5" href="{% url 'index' %}"><i class="fa fa-2x fas fa-arrow-circle-left text-white"></i></a>-->
                        <!--<a class="btn btn-primary mt-2 py-3 px-5" href="{% url 'index1' %}"><i class="fa fa-2x fas fa-arrow-circle-right text-white"></i></a>-->
                </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        <!-- Features Start -->
        <!-- <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Features</div>
                        <h2 class="mb-4">Why People Choose Us? We Are Trusted & Award Wining Agency</h2>
                        <p>Clita nonumy sanctus nonumy et clita tempor, et sea amet ut et sadipscing rebum amet takimata amet, sed accusam eos eos dolores dolore et. Et ea ea dolor rebum invidunt clita eos. Sea accusam stet stet ipsum, sit ipsum et ipsum kasd</p>
                        <p>Et ea ea dolor rebum invidunt clita eos. Sea accusam stet stet ipsum, sit ipsum et ipsum kasd</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-5">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-cubes text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Best In Industry</h6>
                                </div>
                                <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos diam dolor</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-percent text-white"></i>
                                    </div>
                                    <h6 class="mb-0">99% Success Rate</h6>
                                </div>
                                <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos diam dolor</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-award text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Award Winning</h6>
                                </div>
                                <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos diam dolor</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-smile-beam text-white"></i>
                                    </div>
                                    <h6 class="mb-0">100% Happy Client</h6>
                                </div>
                                <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos diam dolor</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-user-tie text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Professional Advisors</h6>
                                </div>
                                <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos diam dolor</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-headset text-white"></i>
                                    </div>
                                    <h6 class="mb-0">24/7 Customer Support</h6>
                                </div>
                                <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos diam dolor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Features End -->


        <!-- Client Start -->
        <!-- <div class="container-xxl bg-primary my-6 py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="owl-carousel client-carousel">
                    <a href="#"><img class="img-fluid" src="img/logo-1.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-2.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-3.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-4.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-5.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-6.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-7.png" alt=""></a>
                    <a href="#"><img class="img-fluid" src="img/logo-8.png" alt=""></a>
                </div>
            </div>
        </div> -->
        <!-- Client End -->







        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% endblock content %}