
{% extends 'base.html' %}

{% block content %}






<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <h1 class="m-0" style="color:aliceblue;">IB Inzo</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'index' %}" class="nav-item nav-link "><strong style="color:aliceblue;">الرئيسية</strong></a>
                <a href="{% url 'course' %}" class="nav-item nav-link"><strong style="color:aliceblue;">الندوات</strong></a>
                <a href="{% url 'offers' %}" class="nav-item nav-link active"><strong style="color:aliceblue;">العروض</strong></a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="feature.html" class="dropdown-item">Features</a>
                        <a href="quote.html" class="dropdown-item">Free Quote</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="" class="dropdown-item">Testimonial</a>
                        <a href="{% url 'index' %}" class="dropdown-item">404 Page</a>
                    </div>
                </div> -->
                 <a href="{% url 'sero' %}" class="nav-item nav-link "><strong style="color:aliceblue;">التعليم</strong></a>
                <a href="{% url 'about' %}" class="nav-item nav-link "><strong style="color:aliceblue;">عن القسم</strong></a>
            </div>
            <!-- <a href="" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Free Quote</a> -->
        </div>
    </nav>

            <div class="container-xxl bg-primary page-header">
                <div class="container text-center">
                    <h1 class="text-white animated zoomIn mb-3">العروض</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <!-- <li class="breadcrumb-item"><a class="text-white" href="#">الرئيسية</a></li> -->
                            <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                            <!-- <li class="breadcrumb-item text-white active" aria-current="page">العروض</li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Team Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h6 style="color:aliceblue;">عروضنا</h6></div>
                    <h2 class="mb-5" style="color:aliceblue;">العروض الخاصة  بالوكلاء</h2>
                </div>
                <div class="row g-4">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          {% for y in y %}
                          <div class="carousel-item {{y.first}}">
                            <img src="{{y.photo.url}}" class="d-block w-100" alt="...">
                            <!-- <h5>{{y.Titel}}</h5> -->
                          </div>
                          {%endfor%}

                        </div>
                        <button class="carousel-control-prev " type="button"  data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon bg-wh" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon bg-wh" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>



{% endblock content %}
